/* global */
body,
html {
  margin: 0;
}

.container {
  padding: 55px;
}

.top {
  text-align: left;
  flex-direction: column;
}

.middle {
  width: 100%;
  height: 100%;
}

.end {
  width: 100%;
  height: 90%;
}

.stats a {
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #1e2a78;
  font-weight: bold;
  letter-spacing: 3px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #1e2a78;
  font-weight: bold;
  letter-spacing: 3px;
}

h3 {
  color: #1e2a78;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
}

h4 {
  color: #1e2a78;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #2a2a2a;
  line-height: 1.55;
  letter-spacing: .7px;
}

a {
  color: #ff2e4c;
  font-family: "Montserrat", sans-serif;
}

a:hover {
  opacity: 0.5;
}

.end a {
  text-decoration: none;
}

.footer h3 {
  font-weight: normal;
  letter-spacing: 1.5px;
  text-align: center;
}

/* MOBILE!!! */
/* screens under 761 px */
@media screen and (max-width: 761px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 40px;
    text-align: left;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 25px;
  }

  p {
    text-align: left;
    letter-spacing: 1.5px;
  }

  .stats {
    text-align: center;
  }


  .stats a {
    font-size: 25px;
    text-align: center;
  }

  .stats p {
    font-size: 25px;
    text-align: center;
  }

  /* middle */

  .middle {
    justify-content: center;
    flex-direction: column;
    display: flex;
  }

  .codepic img {
    display: none;
  }

  .mobilepic img {
    width: 50%;
    height: auto;
    padding-left: 30%;
  }

  /* end */

  .end {
    justify-content: center;
    flex-direction: column;
  }

  .end h3 {
    font-size: 33px;
  }

  .nextOne {
    text-align: center;
  }

  .nextOne img {
    width: 50%;
    height: auto;
    text-align: center;
  }

  .nextTwo {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
  }

  .nextTwo img {
    width: 50%;
    height: auto;
    text-align: center;
  }

  .end h2 {
    text-align: center;
    font-size: 25px;
  }

  .end h3 {
    font-size: 20px;
  }

  .nextOne p {
    text-align: center;

  }

  .nextTwo p {
    text-align: center;

  }

  /* footer */
  .footer h3 {
    font-size: 19px;
  }
}

/* COMPUTER */
/* Screens bigger than 762 */
@media (min-width: 762px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 35px;
  }

  .top {
    height: 100%;
  }

  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }

  .stack .code .live {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .stats p {
    font-size: 30 px;
  }

  .stats a {
    font-size: 30px;
  }

  p {
    font-size: 20px;
    line-height: 1.55;
  }

  .codepic img {
    float: left;
    border: solid #2a2a2a;
    max-width: 50%;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .codeExplain {
    width: 40%;
    float: right;
    text-align: left;
    height: 60%;
  }

  .process img {
    float: right;
    max-width: 40%;
    height: auto;
    padding-top: 100px;
  }

  .processExplain {
    float: left;
    width: 50%;
    text-align: left;
    padding-top: 30px;
  }

  /* end */
  .end {
    text-align: center;
    flex-direction: column;
    padding-top: 300px;
  }

  .endHeader {
    text-align: center;
  }

  .nextOne {
    height: auto;
    border-radius: 3px;
    width: 40%;
    height: 400px;
    float: left;
    text-align: center;
  }

  .nextOne img {
    width: 80%;
    height: auto;
  }

  .nextOne:hover {
    opacity: 0.5;
  }

  .nextTwo {
    height: auto;
    border-radius: 3px;
    width: 40%;
    height: 400px;
    float: right;
  }

  .nextTwo:hover {
    opacity: 0.5;
  }

  .nextTwo img {
    width: 80%;
    height: auto;
  }
}
