body, 
html {
    margin: 0;
}

/* h1,h2 {
    margin: 0;
    padding: 0;
    line-height: 1.35;
} */

/* background */
.bg {
    background: #ede0d1;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* img.me {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* front page */

h1 {
    font-family: 'Sarala', sans-serif;
    font-size: 60px;
    color: #4a4a49;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: center;
    text-shadow: white;
    margin-top: auto;
    margin: 0;
    padding: 0;
    line-height: 1.35;
    letter-spacing: 3px;

}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: #4a4a49;
    margin-bottom: auto;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: center;
    text-shadow: white; 
    margin: 0;
    padding: 0;
    line-height: 1.35;
    letter-spacing: 3px;

}

/* second page */

.about {
    background: #ede0d1; 
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3 {
    margin: auto;
    font-family: 'Tajawal', sans-serif;
    color: #4a4a49;
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
    display: flex; 
    width: 50%;
    letter-spacing: 1.5px;

}

/* page three */

.projects {
    background: #ede0d1;   
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    color: #4a4a49;
    font-family: 'Tajawal', sans-serif;
    font-size: 30px;
    font-style: normal;
    display: flex; 
    width: 50%;
    margin: auto;
    letter-spacing: 1.5px;
    text-align: center;
}

.firstRow {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
}

.secondRow {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
}

.projectone {
    background-image: url("nomadDiscoverPhoto.png");
    height: 300px;
    width: 500px;  
}

.projectone:hover {
    background-color: transparent;

}

.projecttwo {
    background: #cee4ee;
    height: 300px;
    width: 500px;
}

.projecttwo:hover {
    background-color: transparent;

}

.projectthree {
    background: #cee4ee;
    height: 300px;
    width: 500px;
  
}

.projectthree:hover {
    background-color: transparent;

}

.projectfour {
    background: #cee4ee;
    height: 300px;
    width: 500px;
}

.projectfour:hover {
    background-color: transparent;

}

/* arrow down */
.arrow-down {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.arrow-down::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0;
    bottom: -560;
    left: 0;
    border-right: 7px solid #4a4a49;
    border-bottom: 7px solid #4a4a49;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
}

@-webkit-keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}

@keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}