/* body,
html {
  margin: 0;
} */

h1 {
  font-family: "Montserrat", sans-serif;
  color: #1e2a78;
  margin-left: 15px;
  font-weight: lighter;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #ff2e4c;
  margin-left: 15px;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #141823;
  line-height: 1.55;
  margin-left: 15px;
}

a {
  font-family: "Montserrat", sans-serif;
  color: #1e2a78;
}

img:hover {
  opacity: .5;
}

.footer {
  text-align: center;
  border-top: darkgoldenrod;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #1e2a78;
  font-weight: lighter;

}

h4 {
  font-family: "Montserrat", sans-serif;
  color: #ff2e4c;
  letter-spacing: .75px;
  margin: 0;
}

/* screens under 761 px */
@media screen and (max-width: 761px) {
  .bg {
    width: 100%;
    height: 90%;
  }

  h1 {
    width: 100%;
    font-size: 40px;
    text-align: left;
    margin: 0;
    line-height: 1.35;
    letter-spacing: 3px;
    margin-top: 130px;
    margin-left: 15px;
  }

  h2 {
    font-size: 40px;
    width: 100%;
    margin-bottom: auto;
    text-align: left;
    margin: 0;
    margin-left: 15px;
  }
  p {
    font-size: 20px;
    width: 100%;
    height: 80%;
    text-align: left;
    letter-spacing: 1.5px;
  }

  a {
    text-align: left;
    max-width: 80%;
    letter-spacing: 1.5px;
    padding: 0 5vw 0 0;
    line-height: 1.55;
    font-size: 20px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .projects p {
    text-align: center;
  }

  .projects img {
    width: 90%;
    text-align: center;
  }

  /* footer */

 
}

/* Screens bigger than 762 */
@media screen and (min-width: 762px) {
  .bg {
    width: 100%;
    height: 100%;
  }

  h1 {
    font-size: 60px;
    display: flex;
    text-align: left;
    margin-top: auto;
    margin: 0;
    line-height: 1.35;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-left: 15px;
  }

  h2 {
    font-size: 60px;
    margin-bottom: auto;
    text-align: left;
    margin: 0;
    line-height: 1.35;
    letter-spacing: 3px;
    margin-left: 15px;
  }

  p {
    font-size: 30px;
    text-align: left;
    max-width: 80%;
    letter-spacing: 1.5px;
    padding: 0 5vw 0 0;
    margin-left: 15px;
    line-height: 1.55;
  }

  a {
    font-size: 30px;
    text-align: left;
    max-width: 80%;
    letter-spacing: 1.5px;
    padding: 0 5vw 0 0;
    line-height: 1.55;
  }
  /* projects css */
  .left {
    width: 50%;
    text-align: center;
    float: left;
  }

  .right {
    width: 50%;
    text-align: center;

    float: right;
  }

  .right p,
  .left p {
    text-align: center;
  }

  .left img {
    width: 70%;
  }

  .right img {
    width: 70%;
  }
}

/* screens bigger than 1280 px */
@media screen and (min-width: 1280px) {
  .bg {
    height: 100vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 70px;
    text-align: left;
    margin-top: auto;
    margin: 0;
    line-height: 1.35;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-left: 15px;
  }

  h2 {
    font-size: 70px;
    margin-bottom: auto;
    text-align: left;
    margin: 0;
    line-height: 1.35;
    letter-spacing: 3px;
    margin-left: 15px;
  }

  p {
    font-size: 40px;
    text-align: left;
    max-width: 80%;
    letter-spacing: 1.5px;
    padding: 0 5vw 0 0;
    line-height: 1.55;
    margin-left: 15px;
  }

  a {
    font-size: 40px;
    text-align: left;
    max-width: 80%;
    letter-spacing: 1.5px;
    line-height: 1.55;
  }
  /* projects page */

  .display {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left {
    width: 50%;
    text-align: center;
    float: left;
  }

  .right {
    width: 50%;
    text-align: center;

    float: right;
  }

  .right p,
  .left p {
    text-align: center;
  }

  .left img {
    width: 70%;
  }

  .right img {
    width: 70%;
  }
}
